@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
    .sm-fixed {
        position: fixed;
    }
    .sidenav {
        display: none;
    }

    .sidenav-mobile {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
}

.user-menu:hover a > svg * {
    fill: #fff;
}

.active a > svg * {
    fill: #fff;
}
