@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
    .sm-fixed {
        position: fixed;
    }
}

.user-menu:hover a >  svg * {
    fill: #fff;
}

.active a >  svg * {
    fill: #fff;
}
